extends layout

block content
  .container
    h1 Dragon Name Generator
    #dragon-form
    //- form(method='post', action='/generate', enctype='multipart/form-data')
    //-   .form-group
    //-     input.form-control(name='firstName', type='text', placeholder='First Name')
    //-   .form-group
    //-     input.form-control(name='lastName', type='text', placeholder='Last Name')
    //-   .form-group
    //-     input.form-control(name='motherName', type='text', placeholder='Mom\'s Name')
    //-   .form-group
    //-     input.form-control(name='fatherName', type='text', placeholder='Daddy\'s Name')
    //-   input.btn.btn-default(name='submit', type='submit', value='Gimme')
    p Your Dragon Name is: #{dragonName}
